.cbm__createBudget {
    display: flex;
    flex-direction: column;
  }
  
  .cbm__SubmitBudget {
    margin-top: 20px;
  }

  .cbm__budgettext {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
}